body {
    background-color: rgba(0, 0, 0, 0.767);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.bande {
    background-color: white;
    height: 70vh;
}

.hole {
    height: 60vh;
}

h3 {
    font-family: 'Courgette', cursive;
    margin: 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h4 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

a, p, label, input, select {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn {
    background-color: white;
    color: #EC1D25;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

.titrestxt {


    div {
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 50px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 10px;
        word-spacing: 8px;
    }

    h3 {
        font-size: 30px;
        color: #d61c22;
        font-weight: 300;
    }
}

.duo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}