nav {
    width: 100vw;
    background-color: white;
    padding: 20px 0px 20px 0px;
    
    .nav-cont {
        display: flex;
        align-items: center;
    }

    a {
        margin: 0px 20px 0px 20px;
    }
}