@import "base/reset";
@import "base/typography";

@import "helpers/mixins";
@import "helpers/variables";

@import "components/buttons";

@import "layout/burger";
@import "layout/footer";
@import "layout/general";
@import "layout/header";
@import "layout/navigation";

@import "pages/homepage";
@import "pages/mainpage";