.white-box2 {
    background-color:white;
    padding: 150px 0px 150px 0px;
    display: grid;
    align-items: center;

    .cards-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .learn-cards {
        .img-of-cards {
            width: 100%;
            height: 220px;
            border-radius: 12px;
            transition: .5s all;
            overflow: hidden;
        }

        h4 {
            margin-bottom: 0px;
        }

        p {
            margin: 30px 0px 30px 0px;
        }

        a {
            font-size: 12px;
            transition: .3s;
        }

        a:hover {
            color: #EC1D25;
        }

        .one {
            background: url(../../img/intro-01.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .one:hover {
            transform: scale(110%);
        }

        .two {
            background: url(../../img/intro-02.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .two:hover {
            transform: scale(110%);
        }

        .three {
            background: url(../../img/intro-03.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .three:hover {
            transform: scale(110%);
        }

        .four {
            background: url(../../img/blog-01.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .four:hover {
            transform: scale(110%);
        }

        .five {
            background: url(../../img/blog-02.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .five:hover {
            transform: scale(110%);
        }

        .six {
            background: url(../../img/blog-03.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .six:hover {
            transform: scale(110%);
        }
    }

}

.discover-menu {
    background-color: #F4F2E9;

    .discover {
        padding: 100px 30px 50px 30px;
        text-align: center;


        .discover-cont {
            text-align: center;
            margin-bottom: 50px;
        }

        h3 {
            font-size: 30px;
            color: #d61c22;
            margin-bottom: 20px;
        }

        h2 {
            color: white;
            font-size: 50px;
            line-height: 1.2;
            color: #222222;
            text-transform: uppercase;
            letter-spacing: 10px;
            word-spacing: 8px;
        }
    }


    .menu-cards {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "big oui ."
        "big oui ."
        "true true .";
        gap: 2rem;
        margin-bottom: 100px;

        .m-card {
            position: relative;
            overflow: hidden;
            border-radius: 12px;

            a {
                position: absolute;
                top: 50%;
                padding: 10px 20px 10px 20px;
                background-color: white;
                transform: translate(-50%,-50%);
                border-radius: 7px;
                font-size: 24px;
                opacity: .9;
                transition: .5s;
            }

            a:hover {
                background-color: #d61c22;
                color: #222222;
            }

            .chiant {
                height: 100%;
                div {
                    height: 100%;
                    transition: .5s;
                }
            }
            
        }

        .m-card:nth-of-type(1) {
            grid-area: big;

            .chiant {
                div {
                    background: url(../../img/our-menu-01.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(2) {
            grid-area: oui;
            overflow: hidden;

            .chiant {
                div {
                    background: url(../../img/our-menu-05.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(3) {
            .chiant {
                div {
                    background: url(../../img/our-menu-08.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(4) {
            .chiant {
                div {
                    background: url(../../img/our-menu-10.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(5) {
            grid-area: true;
            .chiant {
                div {
                    background: url(../../img/our-menu-13.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(6) {
            .chiant {
                div {
                    background: url(../../img/our-menu-16.jpg) center/cover;
                }
            }
        }

        .treschiant:hover {
            transform: scale(110%);
        }
    }

}


// EVENTS

.events {
    background:url(../../img/bg-event-01.jpg) center/cover;
    padding: 100px 30px 100px 30px;

    .discover {
        color: white;
        display: grid;
        align-items: center;
        margin: 0px 0px 50px 0px;


        div {
            text-align: center;
        }

        h2 {
            font-weight: 700;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 10px;
            word-spacing: 8px;
        }

        h3 {
            font-size: 30px;
            color: #d61c22;
        }
    }

    .cont-wines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        text-align: center;

        .img-wines {
            background: url(../../img/event-02.jpg) center/cover;
            
            .redbarbro {
                height: 20px;
                background-color: #d61c22;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: white;
                    display: inline-block;
                }
            }
        }

        .wines {
            padding: 50px;

            a {
                transition: .5s;
            }

            a:hover {
                color: #d61c22;
            }

            .rebour {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin: 30px 0px 30px 0px;

                .numbers {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);

                    span:nth-of-type(1) {
                        color: #d61c22;
                        font-size: 40px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

.book {
    background-color: #ECECEC;
    padding: 50px;
    display: grid;
    align-items: center;
        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            .form {
                margin-top: 30px;
                display: grid;
                gap: 2rem;
            }
            .titrestxt {
                h2 {
                    color: #222222;
                }
            }
        }

        .f-block {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            gap: 1rem;

            input, select {
                border: 2px solid rgba(128, 128, 128, 0.253);
                border-radius: 12px;
                height: 3em;
                padding: 12px;
            }

            input:focus, select:focus {
                border: 2px solid #d61c22;
            }
        }

        .f-submit {
            background-color: rgba(0, 0, 0, 0.863);
            color: white;
            padding: 10px 20px 10px 20px;
            border-radius: 12px;
            border: none;
            width: 150px;
            margin-top: 30px;
        }

        .right {
            .img-booking {
                height: 400px;
                border-radius: 12px;
                overflow: hidden;
                margin-left: 100px;
            }
        }

        .cont-book {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }



    // REVIEW
    .review {
        display: flex;
        align-items: center;
        .cont-review {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .titrestxt {
                h2 {
                    color: #222222;
                }
            }

            .img-review {
                background: url(../../img/avatar-04.jpg) center/cover;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: solid 3px #d61c22;
                margin: 50px 0px 50px 0px;
            }

            .r-texte {
                font-size: 18px;
            }

            .stars {
                .star {
                    margin: 30px 0px 50px 0px;
                    color: #d61c22;
                }
            }
        }
    }


    .hole {
        display: grid;
        align-items: center;
    }

    .news {
        padding-top: 100px;
        background-color: white;
        .titrestxt {
            h2 {
                color: #222222;
            }
        }

    }

    .specials {
        background-color:#ECECEC;
        padding: 80px 0px 80px 0px;
        div {
            width: 50vw;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            align-items: center;
            text-align: center;

            input {
                border: 2px solid rgba(128, 128, 128, 0.253);
                border-radius: 12px;
                height: 3em;
                padding: 12px;
            }

            input:focus {
                border: 2px solid #d61c22;
            }

            .f-submit {
                background-color: rgba(0, 0, 0, 0.863);
                color: white;
                padding: 10px 20px 10px 20px;
                border-radius: 12px;
                border: none;
                width: 150px;
                transition: .5s all;
                cursor: pointer;
            }

            .f-submit:hover {
                background-color: #d61c22;
            }
        }
    }

    @media screen and (max-width: 750px) {
    
        .white-box2 {
            padding: 150px 30px 150px 30px;
        
            .cards-cont {
                grid-template-columns: repeat(1, 1fr);
            }
        
        }

        .discover-menu {

            .menu-cards {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(9,1fr);
                grid-template-areas:
                "un deux"
                "un deux"
                "trois trois"
                "quatre quatre"
                "quatre quatre"
                "cinq cinq"
                "cinq cinq"
                "six six"
                "six six"
                ;
        
                .m-card:nth-of-type(1) {
                    grid-area: un;
                }
        
                .m-card:nth-of-type(2) {
                    grid-area: deux;
                }
        
                .m-card:nth-of-type(3) {
                    grid-area: trois;
                }
        
                .m-card:nth-of-type(4) {
                    grid-area: quatre;
                }
        
                .m-card:nth-of-type(5) {
                    grid-area: cinq;
                }
        
                .m-card:nth-of-type(6) {
                    grid-area: six;
                }
            }
        
        }

        .events {
            .cont-wines {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                .img-wines {
                    height: 440px;
                }
            }
        }

        .book {
        
                .right {
                    .img-booking {
                        margin-left: 0px;
                        margin-top: 30px;
                    }
                }
        
                .cont-book {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }

            .specials {
                div {
                    display: flex;
                    flex-direction: column;

                }
            }
    }