.white-box2 {
    background-color:white; 
    height: 615px;
    display: grid;
    align-items: center;

    .cards-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .learn-cards {
        .img-of-cards {
            width: 100%;
            height: 220px;
            border-radius: 12px;
            transition: .5s all;
            overflow: hidden;
        }

        h4 {
            margin-bottom: 0px;
        }

        p {
            margin: 30px 0px 30px 0px;
        }

        a {
            font-size: 12px;
            transition: .3s;
        }

        a:hover {
            color: #EC1D25;
        }

        .one {
            background: url(../../img/intro-01.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .one:hover {
            transform: scale(110%);
        }

        .two {
            background: url(../../img/intro-02.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .two:hover {
            transform: scale(110%);
        }

        .three {
            background: url(../../img/intro-03.jpg) center/cover;
            width: 100%;
            height: 100%;
            transition: .5s;
        }

        .three:hover {
            transform: scale(110%);
        }
    }

}

.discover-menu {
    background-color: #F4F2E9;

    .discover {
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;


        .discover-cont {
            text-align: center;
            margin-bottom: 50px;
        }

        h3 {
            font-size: 30px;
            color: #d61c22;
            margin-bottom: 20px;
        }

        h2 {
            color: white;
            font-size: 50px;
            line-height: 1.2;
            color: #222222;
            text-transform: uppercase;
            letter-spacing: 10px;
            word-spacing: 8px;
        }
    }


    .menu-cards {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "big oui ."
        "big oui ."
        "true true .";
        gap: 2rem;
        margin-bottom: 100px;

        .m-card {
            position: relative;
            overflow: hidden;
            border-radius: 12px;

            a {
                position: absolute;
                top: 50%;
                padding: 10px 20px 10px 20px;
                background-color: white;
                transform: translate(-50%,-50%);
                border-radius: 7px;
                font-size: 24px;
                opacity: .9;
                transition: .5s;
            }

            a:hover {
                background-color: #d61c22;
                color: black;
            }

            .chiant {
                height: 100%;
                div {
                    height: 100%;
                    transition: .5s;
                }
            }
            
        }

        .m-card:nth-of-type(1) {
            grid-area: big;

            .chiant {
                div {
                    background: url(../../img/our-menu-01.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(2) {
            grid-area: oui;
            overflow: hidden;

            .chiant {
                div {
                    background: url(../../img/our-menu-05.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(3) {
            .chiant {
                div {
                    background: url(../../img/our-menu-08.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(4) {
            .chiant {
                div {
                    background: url(../../img/our-menu-10.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(5) {
            grid-area: true;
            .chiant {
                div {
                    background: url(../../img/our-menu-13.jpg) center/cover;
                }
            }
        }

        .m-card:nth-of-type(6) {
            .chiant {
                div {
                    background: url(../../img/our-menu-16.jpg) center/cover;
                }
            }
        }

        .treschiant:hover {
            transform: scale(110%);
        }
    }

}


// EVENTS

.events {
    height: 85vh;
    background:url(../../img/bg-event-01.jpg) center/cover;

    .discover {
        height: 35%;   
        color: white;
        display: grid;
        align-items: center;


        div {
            text-align: center;
        }

        h2 {
            font-weight: 700;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 10px;
            word-spacing: 8px;
        }

        h3 {
            font-size: 30px;
        color: #d61c22;
        }
    }

    .cont-wines {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 350px;
        border-radius: 12px;
        overflow: hidden;
        text-align: center;

        .img-wines {
            background: url(../../img/bg-event-01.jpg);
        }

        .wines {
            background: white;
        }
    }
}